<!DOCTYPE html>
<html>
    <head>
        <title>URL ShortenerMicroservice</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://use.fontawesome.com/c98d4b8a6d.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Poiret+One" rel="stylesheet">
        
        <script type="text/javascript" src="/js/index.js" ></script>
        <link href="/css/index.css" type="text/css" rel="stylesheet" />
    
    </head>
    <body>
        <h1>URL Shortener Microservice</h1>
        <h3>Created by <a href="https://oddert.github.io/">Robyn Veitch <i class="fa fa-github" ></i></a> for the <a href="https://www.freecodecamp.org/">freeCodeCamp <i class="fa fa-free-code-camp" ></i></a> challenge!</h3>
        
        <div class="code-chunk">
            <h4>Example:</h4>
            <a href="/new/https://www.google.co.uk/" ><code>https://this-domain/new/https://www.google.co.uk/</code></a>
            <h4>Outputs:</h4>
<code>{
  "original_url" : "<a href="https://www.google.co.uk/" ><code>https://www.google.co.uk/</code></a>",
  "short_url" : "<a href="/1482" ><code>1482</code></a>"
}</code>
        </div>

        <div class="code-chunk">
            <h4>To use the small URL:</h4>
            <a href="/6109" ><code>https://this-domain/6109</code></a>
            <h4>Redirects to:</h4>
            <a href="https://www.freecodecamp.org/" ><code>https://www.freecodecamp.org/</code></a>
        </div>
    </body>
</html>